* {
    margin: 0;
    padding:0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height :80px;
    background-color:#131A22;
    color: aliceblue;
    transition: all;
    display: flex;
    justify-content: space-evenly;
}
.nav-logo {
    height: 80px;
    width : 85px;
}

.logo {
    background-image:url("amazon.svg") ;
    background-size: cover;
    height : 60px;
    width : 60px;
    margin-left: 10px;
    margin-top: 10px;
    filter: invert(1);
    
    background-repeat: no-repeat;
    color: rgb(168, 117, 23)
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border:2px solid white;
}


.add-one {
    font-size: 0.75rem;
    background-color: gray;
}

.add-icon {
    display: flex;
    align-items: center;
    color: aliceblue;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navsearch {
    margin-left: 35px;
    margin-top:20px;
    display: flex;
    

    height: 40px;
    width:700px;
    border: 2px solid transparent;

    

}
.navsearch:hover {
    border: 2px solid rgb(169, 120, 29);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.search1 {
    flex: 1;
    border: none;

    height:100%;
    font-size: 1rem;
}

.search-icon {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: orange;
    background-color: rgb(245, 174, 43);
    
    height:100%;
    width: 45px;
    

}
.options {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    height: 100%;
    width:30px;
    border: none;
}


.language {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#131A22;
    color: aliceblue;
    font-size: 1.2rem;
    margin-left: 10px;
    border: 2px solid transparent;
}
.language:hover{
    border: 2px solid white;
}

.account-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 7px;
    border: 2px solid transparent;
    transform: scale(0.85);

}


.account {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

.lists {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.account-list:hover {
    border: 2px solid white;
}


.return-order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 4px;
    border: 2px solid transparent;
    transform: scale(0.85);

}


.return {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

.order {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.return-order:hover {
    border: 2px solid white;
}

.cart-number {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    
    border: 2px solid transparent;
    

    
}

.cart-icon {
    color: aliceblue;
}



.cart {
    background-color: 2px solid transparent;
    width: 80px;
    
    display: flex;
    justify-content: center;
    align-items:center;
}

.cart:hover{
    border: 2px solid white;

}

.panel {
    height : 42px;
    width : 100%;
    background-color: #232f3e;
    display: flex;
    
    
}

.menu {
    color: aliceblue;
    display: flex;
    align-items: center;
     border: 2px solid transparent;
}
.menu:hover{
    border: 2px solid white;
}

.fresh {
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items:center;
    height: 100%;
    margin-left: 20px;
    
    
    border: 2px solid transparent;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 200;

}

.fresh:hover{
    border: 2px solid white;
}

.AMAZON-PAY {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-left:  auto;

    border: 2px solid transparent;
}

.AMAZON-PAY:hover {
    border :2px solid white
}

#pay {
    font-size: 35px;
    color:aliceblue
}

.date {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 24px;
}



.main {
    background-image: url("amazon-banner.jpg");
    background-size: cover;
    width :100%;
    height : 400px;
    display :flex;
    justify-content: center;
    align-items: flex-end;
   
}

.text-msg {
    height: 40px;
    width : 98vw;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 7px;
    border: 2px solid black;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.text-msg:hover{
    border: 3.4px solid black;
}

/* .shop-section {
    display: flex;
}

.box {
    height :100px;
    width :100px;
} */